<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1> Home Page </h1>
    
    <a href="/signup">
        Sign up
    </a>

    <form action="/sendEmail" method="POST">


        <input type="text" name="emailid" placeholder="enter email ID">

        <input type="text" name="password" placeholder="enter password">


        <button type="submit">Submit</button>

    </form>
    <% if(message){ %>
        <p> <%= message %> </p>
    <% } %>


</body>
</html>