.form-class{
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
}

.form-label-inp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    gap: 10px;
}